{% extends 'BloggerBlogBundle::base.html.twig' %}

{% block title %}Añadir comentario{% endblock %}

{% block body %}
    <h1>Comentar el post "{{ comment.blog.title }}"</h1>
    {% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}